[Unit]
{% if description %}Description={{ description }}{%
   elseif service %}Description={{ service }}{% endif %}
After=docker.service

[Service]
TimeoutStartSec={{ pullTimeout }}
ExecStartPre=/usr/bin/docker pull {{ image }}
ExecStart=/usr/bin/docker run --rm=true --name="{{ fullFileName }}" {{ image }}
ExecStop=/usr/bin/docker kill {{ fullFileName }}

{% if rules %}[X-Fleet]
{% if rules.onePerHost %}X-Conflicts={{ fileName }}.*.service{% endif %}
{% endif %}
